<nav class="navbar navbar-expand-md navbar-dark nav-bg-mycss">
    <a class="navbar-brand logo" href="/">MedUrla</a>

    
      <a class="navbar-brand" href="#">
        <img class="logo-mycss" src="/android-icon-36x36.png" width="30" height="30" class="d-inline-block align-top" alt="">
      </a>
    


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">


      <ul class="navbar-nav m-auto">
        

        <li class="nav-item">
          <a class="nav-link" href="/ekle?kategoriler=ilac">İLAÇLAR</a>
        </li>


        <li class="nav-item">
          <a class="nav-link nav-text-mycss" href="/ekle?kategoriler=algoritma">ALGORİTMALAR</a>
        </li>

        <li class="nav-item">
          <a class="nav-link nav-text-mycss" href="/ekle?kategoriler=cihaz">CİHAZLAR</a>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-file-person" viewBox="0 0 16 16">
              <path d="M12 1a1 1 0 0 1 1 1v10.755S12 11 8 11s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h8zM4 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H4z"/>
              <path d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
            </svg>
          </a>
          <div class="dropdown-menu person" aria-labelledby="navbarDropdown">
              
            <% if(!userIN) { %> 
            <a class="dropdown-item" href="/login">Giriş</a>
            <a class="dropdown-item" href="/kayit">Kayıt Ol</a>
            <% } %>
              
            <% if(userIN) { %> 
           <a class="dropdown-item" href="../users/logout">Çıkış</a>
           <% } %>

        </li>

      </ul>


      <form class="form-inline">
        <input class="form-control mr-sm-2" id="filter" type="search" placeholder="Ara..." aria-label="Search"
          autocomplete="off" onkeyup="buttonUp();">
      </form>

      
    </div>
  </nav>