<%- include('paritals/_headeryeni') -%>
  <body>
    <%- include('paritals/_navyeni') -%>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
      var buttonUp = () => {
        const input = document.querySelector(".form-control");
        const cards = document.getElementsByClassName("col-12");
        let filter = input.value.toUpperCase();
        for (let i = 0; i < cards.length; i++) {
          let title = cards[i].querySelector(".card-body");
          if (title.innerText.toUpperCase().indexOf(filter) > -1) {
            cards[i].classList.remove("d-none")
          } else {
            cards[i].classList.add("d-none")
          }
        }
      }
 

    //filter js code
  /*
      $("#filter").on("keyup", function() {
      var value = $(this).val().toLowerCase();
      $("#mycard > div").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
      });
      });
      */
    </script>
  
  </body>
</html>